<%- include('../partials/header'); -%>


<div class="container form-title">
    <h1>Update Patient Note Details</h1>
</div>

<% result.forEach((patient, index) => { %>
<div class="container card bg-light" style="width: 40rem;">
    <form action="/patient/NotesUpdate" method="POST">
        <div class="form-group">
            <label>Care Provider Note</label>
            <input type="text" name="patient_note" class="form-control" placeholder="Enter Notes" value="<%=patient.patient_note%>">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<% }) %>

<%- include('../partials/footer'); -%>